<%= content_for(:html_title) { "管理者を追加" } %>
<% if @user.errors.full_messages.count > 0 %>
  <div class="alert alert-alert">
    <%= @user.errors.full_messages[0] %>
  </div>
<% end %>
<% if @error_message %>
  <div class="alert alert-alert">
    <%= @error_message %>
  </div>
<% end %>
<div class="views users">
  <div class="create-form-view">
    <%= render "templates/header" %>

    <div class="setting-section">
      <div class="users-heading">
        <h1>管理者を追加</h1>
        <p>
          新しい管理者権限をもつユーザーを作成します。管理者は、全ユーザーの名前とIDの確認、管理者の追加、辞書の編集が可能です。
        </p>
      </div>
      <div class="update-area">
        <%= form_tag "/adminmng/users/create" do %>
          <input type="text" class="entry-half" name="family_name" placeholder="姓" value="<%= @user.family_name %>">
          <input type="text" class="entry-half" name="first_name" placeholder="名" value="<%= @user.first_name %>">
          <input type="text" name="email" placeholder="メールアドレス" value="<%= @user.email %>">
          <input type="password" name="password" placeholder="パスワード">
          <input type="password" name="password_confirm" placeholder="パスワードを再度入力">
          <input type="submit" class="green-button" value="アカウントを作成">
        <% end %>
      </div>
    </div>
  </div>
</div>
