<%= content_for(:html_title) { "アカウント設定" } %>
<%= render "templates/flash" %>
<div class="views users">
  <div class="show-view">
    <%= render "templates/header" %>

    <div class="setting-section profile-section">
      <div class="users-heading">
        <h1>アカウント設定</h1>
      </div>
      <%= form_tag "/account/update_name" do %>
        <div class="update-area">
          <h2>お名前を変更</h2>
          <input type="text" name="name" value="<%= @current_user.name %>">
          <button type="submit" class="green-button">お名前を更新</button>
        </div>
      <% end %>
      <%= form_tag "/account/update_email" do %>
        <div class="update-area">
          <h2>メールアドレスを変更</h2>
          <input type="email" name="email" value="<%= @current_user.email %>">
          <button type="submit" class="green-button">メールアドレスを更新</button>
        </div>
      <% end %>
      <%= form_tag "/account/update_password" do %>
        <div class="update-area">
          <h2>パスワードを変更</h2>
          <h3>現在のパスワード</h3>
          <input type="password" name="current_password">
          <h3>新しいパスワード</h3>
          <input type="password" name="new_password">
          <h3>新しいパスワードを再度入力</h3>
          <input type="password" name="password_confirm">
          <button type="submit" class="green-button">パスワードを更新</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
