<%= content_for(:html_title) { "Postdictにサインイン" } %>
<% if @error_message %>
  <div class="alert alert-alert">
    <%= @error_message %>
  </div>
<% end %>
<div class="views users">
  <div class="signin-form-view">
    <div class="form-section">
      <div class="form-heading">
        <h1>Postdictにサインイン</h1>
        <p>初めてご利用の方は、<%= link_to "アカウントを作成", "/signup" %>してください。</p>
      </div>
      <%= form_tag "/signin" do %>
        <input type="text" name="email" placeholder="メールアドレス" value="<%= @user.email %>">
        <input type="password" name="password" placeholder="パスワード" value="<%= @user.password %>">
        <input type="submit" class="signin-button" value="サインイン">
      <% end %>
    </div>
  </div>
</div>
