<%= content_for(:html_title) { "Postdictのアカウントを新規作成" } %>
<%= render "templates/flash" %>
<div class="views users">
  <div class="signup-form-view">
    <div class="form-section">
      <div class="users-heading form-heading">
        <h1>Postdictのアカウントを新規作成</h1>
        <p>アカウントをお持ちの方は、<%= link_to "サインイン", "/signin" %>してください。</p>
      </div>
      <%= form_tag "/signup" do %>
        <input type="text" name="name" placeholder="お名前" value="<%= @user.name %>">
        <input type="email" name="email" placeholder="メールアドレス" value="<%= @user.email %>">
        <input type="password" name="password" placeholder="パスワード">
        <input type="password" name="password_confirm" placeholder="パスワードを再度入力">
        <button type="submit" class="green-button">アカウントを作成</button>
      <% end %>
    </div>
  </div>
</div>
